.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.register-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.register-form button {
  background-color: rgba(255, 182, 182, 0.5); /* 50% pink */
  color: var(--text-dark);
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.register-form button:hover {
   background-color: #e25a4f;
}

.auth-text {
  color: var(--text-color);
  text-align: center;
}

.auth-link {
  color: var(--accent); /* or use: rgba(255, 182, 182, 0.5); */
  cursor: pointer;
  text-decoration: underline;
}
